<h2><%= @question.title %></h2>
<article class="question_page">
  <section class="question_post">
    <aside class="votes">
      <%= erb :"/votes/_buttons", locals: { object: @question } %>
    </aside>
    <%= erb :"/users/_content_and_username", locals: { object: @question } %>
  </section>

  <section class="comments">
    <h4>Question Comments</h4>
    <ul>
      <% @q_comments.each do |comment| %>
        <li>
          <aside class="votes">
            <%= erb :"/votes/_buttons", locals: { object: comment } %>
          </aside>
          <div class="comment_box">
            <%= erb :"/users/_content_and_username", locals: { object: comment } %>
          </div>
        </li>
      <% end %>
    </ul>

    <% if current_user %>
    <h3>Respond to Question</h3>

    <!-- <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %> -->

    <form action="/responses" method="post">
      <input type='hidden' name="response[creator_id]" value="<%= current_user.id %>">
      <input type='hidden' name="response[respondable_id]" value="<%= @question.id %>">
      <input type='hidden' name="response[respondable_type]" value="Question">
      <input type='text' name="response[content]" placeholder="Response content">
      <input type="submit">
    </form>
    <% end %>

  </section>

  <section class="answers">
    <h2><%= @question.answers.count %> Answers</h2>
    <ul>
      <% @answers.each do |answer| %>
        <li>
          <h4>Answer</h4>
          <aside class="votes">
            <%= erb :"/votes/_buttons", locals: { object: answer } %>
          </aside>
          <%= erb :"/users/_content_and_username", locals: { object: answer } %>
          <section class="comments">
            <h4>Answer Comments</h4>
            <ul>
              <% answer.responses.each do |comment| %>
                <li>
                  <aside class="votes">
                    <%= erb :"/votes/_buttons", locals: { object: comment } %>
                  </aside>
                  <%= erb :"/users/_content_and_username", locals: { object: comment } %>
                </li>
              <% end %>
            </ul>

          <% if current_user %>
          <h3>Respond to Answer</h3>

          <!-- <% if @errors %>
            <ul>
            <% @errors.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
          <% end %> -->

          <form action="/responses" method="post">
            <input type='hidden' name="response[creator_id]" value="<%= current_user.id %>">
            <input type='hidden' name="response[respondable_id]" value="<%= answer.id %>">
            <input type='hidden' name="response[respondable_type]" value="Answer">
            <input type='text' name="response[content]" placeholder="Response content">
            <input type="submit">
          </form>
          <% end %>

        </section>

        </li>
      <% end %>
    </ul>

    <% if current_user %>
    <h3>Answer this Question</h3>

    <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>

    <form action="/answers" method="post">
      <input type='hidden' name="answer[creator_id]" value="<%= current_user.id %>">
      <input type='hidden' name="answer[question_id]" value="<%= @question.id %>">
      <input type='text' name="answer[content]" placeholder="Answer content">
      <input type="submit">
    </form>
    <% end %>

  </section>
</article>
