<div class="show">
  <h2 id="title"><%= @question.title %></h2>
  <article class="question_page">
    <section class="question_post">
      <aside class="votes">
        <%= erb :"/votes/_buttons", locals: { object: @question } %>
      </aside>
      <%= erb :"/users/_content_and_username", locals: { object: @question } %>
    </section>

    <section class="comments">
      <h4>Comments</h4>
      <ul>
        <% @q_comments.each do |comment| %>
          <li>
            <aside class="votes">
              <%= erb :"/votes/_buttons", locals: { object: comment } %>
            </aside>
            <div class="comment_box">
              <%= erb :"/users/_content_and_username", locals: { object: comment } %>
            </div>
          </li>
        <% end %>
      </ul>

      <% if current_user %>
      <h3>Comment on Question</h3>
        <form action="/responses" method="post" id="responses">
          <input type='hidden' name="response[creator_id]" value="<%= current_user.id %>">
          <input type='hidden' name="response[respondable_id]" value="<%= @question.id %>">
          <input type='hidden' name="response[respondable_type]" value="Question">
          <textarea name="response[content]" form="responses" placeholder="Respond to This Question Here..."></textarea>
          <input type="submit">
        </form>
      <% end %>
    </section>

    <% if @best_answer %>
      <section class="answers">
        <ul>
          <li>
            <h4>BEST ANSWER</h4>
            <aside class="votes">
              <%= erb :"/votes/_buttons", locals: { object: @best_answer } %>
            </aside>
            <%= erb :"/users/_content_and_username", locals: { object: @best_answer } %>

            <section class="comments">
              <h4>Answer Comments</h4>
              <ul>
                <% @best_answer.responses.each do |comment| %>
                  <li>
                    <aside class="votes">
                      <%= erb :"/votes/_buttons", locals: { object: comment } %>
                    </aside>
                    <%= erb :"/users/_content_and_username", locals: { object: comment } %>
                  </li>
                <% end %>
              </ul>

              <% if current_user %>
                <h3>Comment on Answer</h3>

                <form action="/responses" method="post" id="responses">
                  <input type='hidden' name="response[creator_id]" value="<%= current_user.id %>">
                  <input type='hidden' name="response[respondable_id]" value="<%= @best_answer.id %>">
                  <input type='hidden' name="response[respondable_type]" value="Answer">
                  <textarea name="response[content]" form="best_response" placeholder="Response content"></textarea>
                  <input type="submit">
                </form>
              <% end %>
            </section>
      </section>
    <% end %>
    <section class="answers">
      <h2><%= @question.answers.count %> Answers</h2>
      <ul>
        <% @answers.each do |answer| %>
        <% next if answer == @best_answer %>
          <li>

            <h4>Answer</h4>
            <aside class="votes">
              <%= erb :"/votes/_buttons", locals: { object: answer } %>
            </aside>

            <% if current_user && @creator.id == current_user.id %>
              <form action="/best_answer" method="post">
                <input type='hidden' name="question_id" value="<%= @question.id %>">
                <input type='hidden' name="answer_id" value="<%= answer.id %>">
                <input type="submit" value="BEST ANSWER">
              </form>
            <% end %>

            <%= erb :"/users/_content_and_username", locals: { object: answer } %>

            <section class="comments">
              <h4>Comments:</h4>
              <ul>
                <% answer.responses.each do |comment| %>
                  <li>
                    <aside class="votes">
                      <%= erb :"/votes/_buttons", locals: { object: comment } %>
                    </aside>
                    <%= erb :"/users/_content_and_username", locals: { object: comment } %>
                  </li>
                <% end %>
              </ul>

              <% if current_user %>
                <h3>Comment on Answer</h3>
                <form action="/responses" method="post" id="responses">
                  <input type='hidden' name="response[creator_id]" value="<%= current_user.id %>">
                  <input type='hidden' name="response[respondable_id]" value="<%= answer.id %>">
                  <input type='hidden' name="response[respondable_type]" value="Answer">
                  <textarea name="response[content]" form="responses" placeholder="Respond to This Anwser Here..."></textarea>
                  <input type="submit">
                </form>

              <% end %>
            </section>
          </li>
        <% end %>
      </ul>

      <% if current_user %>
      <ul>
        <li>
        <h4>Answer this Question</h4>
          <% if @errors %>
            <ul>
              <% @errors.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
          <form action="/answers" method="post" id="answers">
            <input type='hidden' name="answer[creator_id]" value="<%= current_user.id %>">
            <input type='hidden' name="answer[question_id]" value="<%= @question.id %>">
            <textarea name="answer[content]" form="answers" placeholder="Your Answer Here!" ></textarea>
            <input type="submit">
          </form>
        <% end %>
        </li>
      </ul>
    </section>
  </article>
</div>
