<h2><%= @question.title %></h2>
<article class="question_page">
  <section class="question_post">
    <aside class="votes">
      <%= erb :"/votes/_buttons", locals: { object: @question } %>
    </aside>
    <%= erb :"/users/_content_and_username", locals: { object: @question } %>
  </section>

  <section class="comments">
    <h4>Question Comments</h4>
    <ul>
      <% @q_comments.each do |comment| %>
        <li>
          <aside class="votes">
            <%= erb :"/votes/_buttons", locals: { object: comment } %>
          </aside>
          <div class="comment_box">
            <%= erb :"/users/_content_and_username", locals: { object: comment } %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="answers">
    <h2><%= @question.answers.count %> Answers</h2>
    <ul>
      <% @answers.each do |answer| %>
        <li>
          <h4>Answer</h4>
          <aside class="votes">
            <%= erb :"/votes/_buttons", locals: { object: answer } %>
          </aside>
          <%= erb :"/users/_content_and_username", locals: { object: answer } %>
          <section class="comments">
            <h4>Answer Comments</h4>
            <ul>
              <% answer.responses.each do |comment| %>
                <li>
                  <aside class="votes">
                    <%= erb :"/votes/_buttons", locals: { object: comment } %>
                  </aside>
                  <%= erb :"/users/_content_and_username", locals: { object: comment } %>
                </li>
              <% end %>
            </ul>
          </section>
        </li>
      <% end %>
    </ul>
  </section>
</article>
