<h2><%= @question.title %></h2>
<article class="question_page">
  <section class="question_post">
    <aside>
      <div class="box"><%= @question.votes.count %> votes<div>
      <div class="box"><%= @question.answers.count %> answers<div>
    </aside>
    <p><%= @question.content %></p>
    <span><%= @user.username %></span>
  </section>

  <section class="comments">
    <h4>Question Comments</h4>
    <ul>
      <% @q_comments.each do |comment| %>
        <li>
          <aside>
            <div class="comment_box"><%= comment.votes.count %> votes<div>
          </aside>
          <p><%= comment.content %></p>
          <span><%= comment.creator.username %></span>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="answers">
    <h3>Answers</h3>
    <ul>
      <% @answers.each do |answer| %>
        <li>
          <aside>
            <div class="answer_box"><%= answer.votes.count %> votes<div>
          </aside>
          <p><%= answer.content %></p>
          <span><%= answer.creator.username %></span>
          <section class="comments">
            <h4>Answer Comments</h4>
            <ul>
              <% answer.responses.each do |comment| %>
                <li>
                  <aside>
                    <div class="comment_box"><%= comment.votes.count %> votes<div>
                  </aside>
                  <p><%= comment.content %></p>
                  <span><%= comment.creator.username %></span>
                </li>
              <% end %>
            </ul>
          </section>
        </li>
      <% end %>
    </ul>
  </section>
</article>
