<h2><%= @question.title %></h2>
<article class="question_page">
  <section class="question_post">
    <aside>
      <div class="box"><%= @question.votes.count %> votes<div>
      <div class="box"><%= @question.answers.count %> answers<div>
    </aside>
    <p><%= @question.content %></p>
    <span><%= @creator.username %></span>
  </section>

  <section class="comments">
    <h4>Question Comments</h4>
    <ul>
      <% @q_comments.each do |comment| %>
        <li>
          <aside>
            <div class="comment_box"><%= comment.votes.count %> votes<div>
          </aside>
          <p><%= comment.content %></p>
          <span><%= comment.creator.username %></span>
        </li>
      <% end %>
    </ul>

    <% if @user %>
    <h3>Respond to Question</h3>

    <!-- <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %> -->

    <form action="/responses" method="post">
      <input type='hidden' name="response[creator_id]" value="<%= @user.id %>">
      <input type='hidden' name="response[respondable_id]" value="<%= @question.id %>">
      <input type='hidden' name="response[respondable_type]" value="Question">
      <input type='text' name="response[content]" placeholder="Response content">
      <input type="submit">
    </form>
    <% end %>

  </section>


  <% if @best_answer %>
  <section class="best-answer">
    <h3>BEST ANSWER</h3>
    <aside>
      <div class="answer_box"><%= @best_answer.votes.count %> votes<div>
    </aside>
    <p><%= @best_answer.content %></p>
    <span><%= @best_answer.creator.username %></span>
    <section class="comments">
      <h4>Answer Comments</h4>
      <ul>
        <% @best_answer.responses.each do |comment| %>
          <li>
            <aside>
              <div class="comment_box"><%= comment.votes.count %> votes<div>
            </aside>
            <p><%= comment.content %></p>
            <span><%= comment.creator.username %></span>
          </li>
        <% end %>
      </ul>

    <% if @user %>
    <h3>Respond to Answer</h3>

    <!-- <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %> -->

    <form action="/responses" method="post">
      <input type='hidden' name="response[creator_id]" value="<%= @user.id %>">
      <input type='hidden' name="response[respondable_id]" value="<%= @best_answer.id %>">
      <input type='hidden' name="response[respondable_type]" value="Answer">
      <input type='text' name="response[content]" placeholder="Response content">
      <input type="submit">
    </form>
    <% end %>

    </section>
  </section>
  <% end %>

  <section class="answers">
    <h3>Answers</h3>
    <ul>
      <% @answers.each do |answer| %>
      <% next if answer == @best_answer %>
        <li>
          <aside>
            <div class="answer_box"><%= answer.votes.count %> votes<div>
          </aside>

          <% if @user && @creator.id == @user.id %>
          <form action="/best_answer" method="post">
            <input type='hidden' name="question_id" value="<%= @question.id %>">
            <input type='hidden' name="answer_id" value="<%= answer.id %>">
            <input type="submit" value="BEST ANSWER">
          </form>
          <% end %>

          <p><%= answer.content %></p>
          <span><%= answer.creator.username %></span>
          <section class="comments">
            <h4>Answer Comments</h4>
            <ul>
              <% answer.responses.each do |comment| %>
                <li>
                  <aside>
                    <div class="comment_box"><%= comment.votes.count %> votes<div>
                  </aside>
                  <p><%= comment.content %></p>
                  <span><%= comment.creator.username %></span>
                </li>
              <% end %>
            </ul>

          <% if @user %>
          <h3>Respond to Answer</h3>

          <!-- <% if @errors %>
            <ul>
            <% @errors.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
          <% end %> -->

          <form action="/responses" method="post">
            <input type='hidden' name="response[creator_id]" value="<%= @user.id %>">
            <input type='hidden' name="response[respondable_id]" value="<%= answer.id %>">
            <input type='hidden' name="response[respondable_type]" value="Answer">
            <input type='text' name="response[content]" placeholder="Response content">
            <input type="submit">
          </form>
          <% end %>

        </section>

        </li>
      <% end %>
    </ul>

    <% if @user %>
    <h3>Answer this Question</h3>

    <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>

    <form action="/answers" method="post">
      <input type='hidden' name="answer[creator_id]" value="<%= @user.id %>">
      <input type='hidden' name="answer[question_id]" value="<%= @question.id %>">
      <input type='text' name="answer[content]" placeholder="Answer content">
      <input type="submit">
    </form>
    <% end %>

  </section>
</article>
